{{ define "content" }}
<main class="flex-1 p-8 space-y-8 bg-zinc-950 text-white" hx-get="/analytics/refresh" hx-trigger="every 2s"
	hx-swap="none">

	<!-- GLOBAL SUMMARY -->

	{{ block "global_stats.tmpl" . }} {{ end }}

	<!-- INTERFACES -->
	<section class="space-y-6">

		{{ range .Stats.IfaceStats }}
		<details class="rounded-2xl border border-zinc-800 bg-zinc-900 group" closed>
			<summary class="list-none cursor-pointer px-6 py-5 flex items-center justify-between hover:bg-zinc-800/40">
				<div>
					<h2 class="text-lg font-semibold">{{ .Name }}</h2>
					<p class="text-sm text-zinc-500">
						Interface statistics
					</p>
				</div>
				<svg class="w-5 h-5 text-zinc-500 transition-transform group-open:rotate-180" fill="none"
					stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
					<path d="M6 9l6 6 6-6" />
				</svg>
			</summary>
			{{ block "interface_stats.tmpl" . }} {{ end }}
		</details>
		{{ end }}


	</section>

</main>
{{ end }}
